/* Styles de base pour les écrans mobiles */
header {
    display: flex;
     flex-direction: column;  
    align-items: center; 
    padding: 10px;
    justify-content: center;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
  
}



li{
    list-style: none;
}

.Top_Left_Header,
.Top_Right_Header {
    width: 100%; 
    text-align: center; 
    
}

.Top_Left_Header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Top_Left_Header li{
    margin: 30px;
}

.Top_Left_Header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Top_Left_Header li{
    margin: 30px;
}

.Top_Right_Header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Top_Right_Header li{
    margin: 20px;
}

.divLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 75%; 
    height: auto;
    display: block;
    margin: 0 auto;
}




/* Media Query pour les écrans de tablette */
@media (min-width: 768px) {
    .logo {
        max-width: 100%;
        height: auto;
    }

    header {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
        justify-content: center;
    }

    .Top_Left_Header ul {
        display: flex;
        justify-content: left; 
        align-items: center; 
    }

    .Top_Right_Header ul {
        display: flex;
        justify-content: right; 
        align-items: center; 
    }

    .Top_Left_Header li {
        margin-right: 20px;
    }

    .Top_Right_Header li {
        margin-left: 20px; 
    }
}

/* Media Query pour les écrans de bureau */
@media (min-width: 1024px) {

    .logo {
        max-width: 100%; 
        height: auto;
    }
    
    .Top_Left_Header ul {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .Top_Right_Header ul {
        display: flex;
        justify-content: right; 
        align-items: center; 
    }

    .Top_Left_Header li {
        margin-right: 20px;
    }

    .Top_Right_Header li {
        margin-left: 20px; 
    }
}
