.admin-form-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.admin-form{
    margin-top: 100px;
}

.card-register{
    margin-top: 70px;
    border: 2px solid #F4CE14;
}

.link-login{
    color : #45474B;
}