.topMain{
    background: var(--pestnlocColor);
    height: 370px;
    width: 100%;
    margin-top: 50px;
}

.paralleleidclient{
    font-size: var(--sizeFontMobile);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10px;
}


.Nocontract{
    font-size: var(--sizeFontDesktop);
    font-weight: bold;
    color: red;
    padding-right: 15px;
    margin-left: 10vh;
    width: 350px;
}



.Contract_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.White_contract{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 200px;
    width: 60vh;
    border-radius: 3px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Buttoncontract {
    margin: 2%;
    background-color: #45474B;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: var(--sizeFontMobile);
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    color: var(--pestnlocColor);
}

.Buttoncontract2{
    margin-left: 0;
}

.NameandSurname{
    font-size: var(--sizeFontTitle);
    font-weight: bold;
    padding-right: 15px;
    padding-left: 65px;
    margin-left: 10vh;
    width: 450px;
}

.AddNameLogout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {

}