@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

li{
    list-style: none;
}

footer{
    background-color: var(--fontColor);
    padding-top: 3%;

}

.container{
    max-width: 100%;
}

.row{
    display: flex;
}

.footer-column{
    width: 25%;
    padding:0 5%;
}

.title{
    width: 100%;
    font-size: var(--sizeFontMobileFooter);
    color: var(--whiteFontColor);
    text-transform: capitalize;
    margin-bottom: 15%;
    font-weight: 500;
    position: relative;
}

.footer-column h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--pestnlocColor);
    height: 2px;
    width: 40px;
    box-sizing: border-box;
}

body{
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    font-size: var(--sizeFontMobile);
}

.li-footer{
    width: 100%;
    font-size: var(--sizeFontMobileFooter);
    margin-top: 5px;
    margin-left: -3px;
}

.ulFooter{
    width: 100%;
}

.Social-networks{
    width: 100%;
}

.Social-icon{
    display: inline-block;
    border-radius: 50%;
    background-color: var(--pestnlocColor);
    height : 24px;
    width: 24px;
    margin-right: 8px;
    margin-top: 5px;
    color : var(--whiteFontColor);
    text-align: center;
    line-height: 22px;
}

.fab{
    font-size: 12px;
}

.Social-icon:hover{
    color : #333333;
}

.linkFooter{
    text-decoration : none;
    color: grey;
    transition:all 0.4s ease;
}

.linkFooter:hover{
    padding-left: 10px;
    color : var(--pestnlocColor);
}

@media (min-width: 768px){

    .row{
        display: flex;
        flex-wrap: wrap ;
    }

    .li-footer{
        font-size: var(--sizeFontDesktop);
    }

    .title{
        width: 100%;
        font-size: var(--sizeFontDesktopFooter);
        color:var(--whiteFontColor);
        text-transform: capitalize;
        margin-bottom: 15%;
        font-weight: 500;
        position: relative;
    }

    .Social-networks{
        width: 100%;
    }

    .Social-icon{
        display: inline-block;
        border-radius: 50%;
        background-color: var(--pestnlocColor);
        height : 40px;
        width: 40px;
        margin-right: 8px;
        margin-top: -6px;
        margin-bottom: 10px;
        color : white;
        text-align: center;
        line-height: 45px;
    }

    .fab{
        font-size: 20px;
    }

    .footer-column h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: var(--pestnlocColor);
        height: 2px;
        width: 60px;
        box-sizing: border-box;
    }
}