/*Variables*/
*{
    box-sizing: border-box;
    padding: 0;
}

:root{
    --mainFont : Arial, sans-serif;
    --sizeFontMobile : 16px;
    --sizeFontTablet : 20px;
    --sizeFontDesktop : 19px;
    --svgSizeMobile : 35px;
    --svgSizeTablet : 45px;
    --pestnlocColor :  #1CB005;  /*Color*/
    --fontColor : #273036;
}



