body{
    margin: 0 0 0;
    padding: 0 0 0;
}


/* Mobile First */
header{
    display: flex;
    flex-direction: column ;
    font-family: var(--mainFont) ;
    font-weight: bold;
    align-items:center;
    justify-content: center;
    font-size: var(--sizeFontMobile);
    width: 100%;
    height: 100%;
    margin-top: 20px;
    text-decoration: none;
}

header a{
    text-decoration:none;
    color : var(--fontColor);
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.li-header{
    list-style: none;
    margin: 30%;
}

.logo{
    height: 100%;
    width: auto;
}

.OurAgencies{
    content: url("/src/components/assets/logoAgency.svg");
    width: var(--svgSizeMobile);
    height: var(--svgSizeMobile);
}

.Profile{
    content: url("/src/components/assets/profile.svg");
    width: var(--svgSizeMobile);
    height: var(--svgSizeMobile);
}

.Langue{
    content: url("/src/components/assets/englishL.svg");
    width: var(--svgSizeMobile);
    height: var(--svgSizeMobile);
}

.Rent{
    content: url("/src/components/assets/keys.svg");
    width: var(--svgSizeMobile);
    height: var(--svgSizeMobile);
}

.Contract{
    content: url("/src/components/assets/contract.svg");
    width: var(--svgSizeMobile);
    height: var(--svgSizeMobile);
}

.active {
    color: var(--pestnlocColor);
    text-decoration: underline;
    text-underline-offset: 10px;
}

@media (min-width: 768px){

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .OurAgencies{
        content: url("/src/components/assets/logoAgency.svg");
        width:  var(--svgSizeTablet);
        height:  var(--svgSizeTablet);
    }

    .Profile{
        content: url("/src/components/assets/profile.svg");
        width:  var(--svgSizeTablet);
        height:  var(--svgSizeTablet);
    }

    .Langue{
        content: url("/src/components/assets/englishL.svg");
        width:  var(--svgSizeTablet);
        height:  var(--svgSizeTablet);
    }

    .Rent{
        content: url("/src/components/assets/keys.svg");
        width: var(--svgSizeTablet);
        height:  var(--svgSizeTablet);
    }

    .Contract{
        content: url("/src/components/assets/contract.svg");
        width:  var(--svgSizeTablet);
        height:  var(--svgSizeTablet);
    }

    .divButton{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .li-header{
       margin: 30%;
   }
}

/* Media Query for Desktop Screen */
@media (min-width: 1024px){

    header{
        display: flex;
        flex-direction: row;
        font-size: var(--sizeFontDesktop);
        margin-top: 0;
    }

    .logo{
        height: auto;
        width: 60%;
    }

    .divlogo{
        display: flex;
        justify-content: left;
    }

    .Langue{
        width: 45px;
        height: 45px;
    }

    .li-header{
        margin: 7vh;
    }

    .OurAgencies{
        content: "";
    }

    .OurAgencies:hover{
        color: var(--pestnlocColor);
    }

    .Profile{
        content: "";
    }

    .Profile:hover{
        color: var(--pestnlocColor);
    }


    .Langue{
        content: url("/src/components/assets/englishL.svg");
        width: 30px;
        height: 30px;
    }

    .Rent{
        content: "";
    }

    .Rent:hover{
        color: var(--pestnlocColor);
    }

    .Contract{
        content: "";
    }

    .Contract:hover{
        color: var(--pestnlocColor);
    }
}