body{
    margin: 0 0 0;
    padding: 0 0 0;
}

.register-car-picture{
    display: none;
}

.togglePassword {
    position: relative;
    margin-top: -24px;
    margin-right: -115px;
    font-size: var(--sizeFontMobile) ;
}

.select-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.country-selector{
    width: 100%;
}
.selector{
    height: 30px;
    border: 2px solid var(--pestnlocColor);
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    font-size: 13px;
}
.maindiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/src/components/assets/registerbg.jpg");
    background-size: cover;
    background-position: center center;
    height: 730px;
    width: 100%;
}
.divFormulaire{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95%;
    width: 60%;
    border-radius: 25px;
    border : 1px solid;
    border-color: var(--pestnlocColor);

}
.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin-top: 20px;
}

.previous-button, .next-button, .send-button{
    background-color: var(--pestnlocColor);
    color: var(--fontColor);
    border-radius: 5px;
    font-size: var(--sizeFontMobile);
    height: 35px;
    width: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.label-license-Date{
    margin-top: 30px;
    margin-bottom: -25px;
    font-size: 16px;
}

.previous-button:hover, .next-button:hover, .send-button:hover{
    background-color: #c9a71b;
    color: var(--whiteFontColor);
}

.upload-label{
    margin-top: 30px;
    font-size: 13px;
    padding-top: 5px ;
    height: 35px;
    border-radius: 5px;
    border: 2px solid var(--pestnlocColor);
    width: 80%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

}

.upload-label:hover{
    color: var(--pestnlocColor);
}


.jean-in-the-car{
    margin-top: 25px;
    height: 40%;
    width: 80%;
    border-radius: 25px;
    border: 2px solid var(--pestnlocColor);
}

.svg-car{
    height: 40px;
    width: 40px;
    position: relative;
    top : 14.3px;
}

.image-steper{
    display: flex;
    width: 99.84%;
    justify-content: left;
}

.steper-line{
    display: flex;
    justify-content: space-between;

}

.steper-line-first{
    background-color:  var(--fontColor);
    height: 5px;
    width: 49.92%;
    border-radius: 50px;
}

.sign-in{
    margin-top: 20px;
    color: var(--fontColor);
    font-size: 13px;
}

.steper-line-second{
    background-color:  var(--fontColor);
    height: 5px;
    width: 49.92%;
    border-radius: 50px;
}

.div-steper{
    display: flex;
    flex-direction: column ;
    width: 90%;
}

.date {
    margin-top: 30px;
    font-size: 13px;
    padding-top: 5px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid var(--pestnlocColor);
    width: 80%;
    text-align: center;
    box-sizing: border-box;
}

.currentstep{
    color: var(--pestnlocColor);
}

.steper-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: var(--sizeFontMobile);
    color: rgb(178, 178, 178);
}

.formRegisterInputs{

    width: 90%;
    height: 65%;
    justify-content: center;
    align-items: center;
}

.register-form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: -20px;
}

.wrap-input{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.NameInput, .MailPasswordInput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-text{
    margin-top: 30px;
    padding: 10px;
    font-size: 13px ;
    height: 35px;
    border-radius: 5px;
    border: 2px solid var(--pestnlocColor);
    transition: border-color 0.3s ease-in-out;
    outline: none;
    width: 80%;
    text-align: center;

}

.phone-number{
    margin-top: 35px;
    padding: 10px;
    font-size: 16px ;
    height: 30px;
    border-radius: 5px;
    border: 2px solid var(--pestnlocColor);
    transition: border-color 0.3s ease-in-out;
    outline: none;
    width: 100%;
    text-align: center;
}


@media (min-width: 768px){

    .jean-in-the-car{
        display: none;
    }

    .register-form-title{
        font-size: 20px;
    }
    .wrap-input{
        flex-direction: row ;
        justify-content: space-around;
    }
    .maindiv{
        height: 510px;
    }

    .button-container{
        font-size: var(--sizeFontTablet);
    }
    .sign-in{
        margin-top: 10px;
    }
    .select-wrapper{
        margin-top: 10px;
    }

    .selector{
        margin-top: 30px;
        font-size: 15px;
    }
}

@media (min-width: 1024px){

    .register-form-title{
        font-size: 25px;
        margin-bottom: 0px;
    }


    .input-text{
        height: 35px;
        margin-top: 30px;
        width: 100%;
    }

    .maindiv{
        height: 580px;
    }

    .button-container{
        font-size: var(--sizeFontDesktop);
    }

    .svg-car{
        height: 50px;
        width: 50px;
        position: relative;
        top : 16.8px;
    }
    .previous-button, .next-button, .send-button{
        width: 100px;
    }
    .steper-text{
        font-size: 15px;
    }

    .sign-in{
        font-size: 16px;
        margin-top: 5px;
    }
    .divFormulaire{
        width: 40%;
    }

    .select-wrapper{
        display: flex;
        flex-direction: column;
        width: 50%;
        font-size: 16px;
        margin-top: -20px;

    }

    .selector{
        margin-top: 35px;
    }

    .country-selector{
        width: 100%;
    }
    .register-car-picture{
        display: flex;
        width: 35%;
        height: 20%;
        border-radius: 20px;
    }

    .register-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }

    .togglePassword {
        position: relative;
        margin-top: -30px;
        margin-right: -150px;
    }

}