body{
    margin: 0 0 0;
    padding: 0 0 0;
}


.maindiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/src/components/assets/loginbg.jpg");
    background-size: cover;
    height: 480px;
    width: 100%;
}

.divFormulaire{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 50%;
    border-radius: 25px;
    border : 1px solid;
    border-color: var(--pestnlocColor);

}
.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.previous-button, .next-button, .send-button{
    background-color: var(--pestnlocColor);
    color: var(--fontColor);
    border-radius: 5px;
    font-size: var(--sizeFontMobile);
    height: 35px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.previous-button:hover, .next-button:hover, .send-button:hover{
    background-color: #c9a71b;
    color: var(--whiteFontColor);
}

.svg-car{
    height: 40px;
    width: 40px;
    position: relative;
    top : 14.3px;
}

.image-steper{
    display: flex;
    width: 99.84%;
    justify-content: left;
}

.steper-line{
    display: flex;
    justify-content: space-between;

}

.steper-line-first{
    background-color:  var(--fontColor);
    height: 5px;
    width: 49.92%;
    border-radius: 50px;
}

.steper-line-second{
    background-color:  var(--fontColor);
    height: 5px;
    width: 49.92%;
    border-radius: 50px;
}

.div-steper{
    display: flex;
    flex-direction: column ;
    width: 90%;
    color: rgb(178, 178, 178);

}

.steper-text:active {
    color: var(--pestnlocColor);
}

.steper-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


@media (min-width: 768px){
    .maindiv{
        height: 510px;
    }

    .button-container{
        font-size: var(--sizeFontTablet);
    }


}

@media (min-width: 1024px){

    .maindiv{
        height: 580px;
    }

    .button-container{
        font-size: var(--sizeFontDesktop);
    }

    .svg-car{
        height: 50px;
        width: 50px;
        position: relative;
        top : 16.8px;
    }
}