*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.WelcomeContainer{
    display: flex;
    background-color : var(--pestnlocColor);
    margin-top: 50px;
    height: 380px;
    width : 100%;
    align-items: center;
    justify-content: center;
}

.separingshowcar{
    padding-left: 200px;
}



.formResearch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 250px;
    width: 70vh;
    border-radius: 3px;
    flex-direction: column;
}




.parallelebutton{
    display: flex;
    flex-direction: row;
}


.divButtonWelcome{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 20px;
}

.choiceCar{
    background-color: var(--pestnlocColor);
    color: white;
    height: 20px;
    width: 80%;
    border-radius: 5px;
    font-size: var(--sizeFontMobile);
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin : 0;
}



.thedates[type="search"],
.thedates[type="date"]{
    width: 35%;
    max-height: 20px;
   max-width: 100px;
   min-width: 70px;
   padding: 5px;
   margin-bottom: 7px;
   border: 1px solid ;
   border-radius: 5px;
   font-size: var(--sizeFontMobile);
   font-weight: bold;
}

.Showcarbutton{
}

.divDateWelcome{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.divSearchWelcome{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.separating911{
    padding-left: 100px;
}

.separatingsearch{
    margin-top : 30px;
    min-width: 90px;
}

@media (min-width: 768px){

    .WelcomeContainer{
        display: flex;
        background-color : var(--pestnlocColor);
        margin-top: 50px;
        height: 500px;
        width : 100%;
        align-items: center;
        justify-content: center;
    }

    .separingshowcar{
        padding-left: 500px;
    }

    .ImageWelcome911{
        width: 400px;
        height: 200px;
    }

    .formResearch{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 400px;
        width: 120vh;
        border-radius: 3px;
        flex-direction: column;

    }

    .choiceCar{
        margin-right: 4%;
        background-color: var(--pestnlocColor);
        border: none;
        border-radius: 5px;
        padding: 15px 25px;
        font-size: var(--sizeFontMobile);
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
    }

    .parallelebutton{
        display: flex;
        flex-direction: row;
    }


    .divButtonWelcome{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-top: 20px;
    }

    .thedates[type="search"],
    .thedates[type="date"]{
       width: 35%;
       max-height: 30px;
        max-width: 120px;
        min-width: 100px;
        padding: 5px;
        margin-bottom: 7px;
        border: 1px solid ;
        border-radius: 5px;
       font-size: var(--sizeFontMobile);
        font-weight: bold;
    }

    .Showcarbutton{
    }

    .divDateWelcome{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .divSearchWelcome{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .separating911{
        padding-left: 250px;
    }

    .separatingsearch{
        margin-top : 90px;
        min-width: 90px;
    }

}
