*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.WelcomeContainer{
    display: flex;
    background-color : var(--pestnlocColor);
    margin-top: 50px;
    height: 380px;
    width : 100%;
    align-items: center;
    justify-content: center;
}

.separingshowcar{
    padding-left: 150px;
}

.separing911{
    padding-left: 130px;
}

.ImageWelcome911{
    width: 400px;
    height: 120px;
}

.formResearch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 250px;
    width: 70vh;
    border-radius: 3px;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 350px;
}


button{
    margin-right: 4%;
    margin-bottom: 6%;
    background-color: var(--pestnlocColor);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: var(--sizeFontMobile);
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.parallelebutton{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}


.divButtonWelcome{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

button[type="submit"]{
    background-color: var(--pestnlocColor);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: var(--sizeFontMobile);
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin : 0;
}

button[type="submit"]:hover {
    background-color: #147E05FF;
}

input[type="search"],
input[type="date"]{
    width: 35%;
    padding: 5px;
    margin-bottom: 7px;
    border: 1px solid ;
    border-radius: 5px;
    font-size: var(--sizeFontMobile);
    font-weight: bold;
}

.divDateWelcome{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.divSearchWelcome{
    padding-right: 350px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

@media (min-width: 768px){

    .formResearch{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 250px;
        width: 70vh;
        border-radius: 15px;
        flex-direction: column;
    }

    button{
        margin-right: 10%;
        margin-bottom: 10%;
        background-color: var(--pestnlocColor);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: var(--sizeFontMobile);
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
    }

    .divButtonWelcome{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    button[type="submit"]{
        background-color: var(--pestnlocColor);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: var(--sizeFontMobile);
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
        margin : 0;
    }

    button[type="submit"]:hover {
        background-color: #147E05FF;
    }

    input[type="search"],
    input[type="date"]{
        width: 65%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid ;
        border-radius: 5px;
        font-size: var(--sizeFontMobile);
        font-weight: bold;
    }

    .divDateWelcome{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
